{
	"openapi": "3.0.3",
	"info": {
		"title": "Safepay API",
		"version": "8.12.7",
		"description": "Safepay is a regulated payments service provider that enables developers to orchestrate money movement between customers and businesses with ease and speed. The Safepay API makes it simple for businesses and financial platforms to create payment sessions, manage subscriptions, issue invoices and exchange value by sending and receiving money. Our API is based upon REST principles, returns JSON responses, and uses standard HTTP response codes. Safepay offers two environments to developers - `production` and `sandbox` . Any transaction performed in our `sandbox` environment will not have any financial impact. We also provide test credentials for payment instruments that can be used while integrating. To begin integrating, we recommend you sign up for our sandbox account - its free to do so and will give you access to all of Safepay's APIs. Once you've completed your integration, please reach out to a member of our team who will guide you on how to create a production account and complete our onboarding process."
	},
	"servers": [
		{
			"url": "https://sandbox.api.getsafepay.com",
			"description": "Sandbox Environment"
		},
		{
			"url": "https://api.getsafepay.com",
			"description": "Production Environment"
		},
		{
			"url": "https://dev.api.getsafepay.com",
			"description": "Development Environment"
		}
	],
	"tags": [
		{
			"name": "API Authentication",
			"description": "Endpoints relating to API Authentication"
		},
		{
			"name": "API Keys",
			"description": "Endpoints relating to API Keys"
		},
		{
			"name": "Merchant Shoppers - CRUD",
			"description": "Endpoints relating to Merchant Shoppers - CRUD"
		},
		{
			"name": "Merchant Shoppers - Customer Payment Methods",
			"description": "Endpoints relating to Merchant Shoppers - Customer Payment Methods"
		},
		{
			"name": "Merchant Shoppers - Addresses",
			"description": "Endpoints relating to Merchant Shoppers - Addresses"
		},
		{
			"name": "Payments - Setup",
			"description": "Endpoints relating to Payments - Setup"
		},
		{
			"name": "Payments - Order",
			"description": "Endpoints relating to Payments - Order"
		},
		{
			"name": "Payments - Configuration",
			"description": "Endpoints relating to Payments - Configuration"
		},
		{
			"name": "Payments - Cancellations",
			"description": "Endpoints relating to Payments - Cancellations"
		},
		{
			"name": "Payments - Reporting",
			"description": "Endpoints relating to Payments - Reporting"
		},
		{
			"name": "Payments - Meta",
			"description": "Endpoints relating to Payments - Meta"
		},
		{
			"name": "Payments - Webhooks",
			"description": "Endpoints relating to Payments - Webhooks"
		},
		{
			"name": "Subscriptions - Plans",
			"description": "Endpoints relating to Subscriptions - Plans"
		},
		{
			"name": "Subscriptions - Subscriptions",
			"description": "Endpoints relating to Subscriptions - Subscriptions"
		},
		{
			"name": "Subscriptions - Transactions",
			"description": "Endpoints relating to Subscriptions - Transactions"
		},
		{
			"name": "Quick Links - V2",
			"description": "Endpoints relating to Quick Links - V2"
		},
		{
			"name": "Quick Links",
			"description": "Endpoints relating to Quick Links"
		},
		{
			"name": "Safepay Shoppers - CRUD",
			"description": "Endpoints relating to Safepay Shoppers - CRUD"
		},
		{
			"name": "Safepay Shoppers - Payment methods",
			"description": "Endpoints relating to Safepay Shoppers - Payment methods"
		}
	],
	"paths": {
		"/auth/v1/company/login": {
			"post": {
				"tags": ["API Authentication"],
				"summary": "Login Company",
				"operationId": "apiAuthenticationLoginCompany",
				"description": "Login Company operation.",
				"responses": {
					"200": {
						"description": "Login Company",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"count": {
													"type": "integer",
													"example": 1
												},
												"list": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"token": {
																"type": "string",
																"example": "client_bc9b141a-edce-429a-88f0-90230d0b66f1"
															},
															"name": {
																"type": "string",
																"example": "Safepay Demo"
															},
															"description": {
																"type": "string",
																"example": ""
															},
															"email": {
																"type": "string",
																"example": "ausmani@getsafepay.com"
															},
															"phone": {
																"type": "string",
																"example": ""
															},
															"api_key": {
																"type": "string",
																"example": "sec_f1c179f6-780a-46dd-8a15-0aa57b704c01"
															},
															"avatar": {
																"type": "string",
																"example": ""
															},
															"website": {
																"type": "string",
																"example": ""
															},
															"payout_terms": {
																"type": "string",
																"example": ""
															},
															"active": {
																"type": "integer",
																"example": 0
															},
															"suspended": {
																"type": "integer",
																"example": 0
															},
															"suspend_reason": {
																"type": "string",
																"example": ""
															},
															"email_settings": {
																"type": "string",
																"nullable": true
															},
															"api_settings": {
																"type": "string",
																"nullable": true
															},
															"organization": {
																"type": "string",
																"nullable": true
															},
															"verification": {
																"type": "string",
																"nullable": true
															},
															"verified": {
																"type": "integer",
																"example": 1
															},
															"created_at": {
																"type": "string",
																"example": "2022-11-29T08:56:36Z"
															},
															"updated_at": {
																"type": "string",
																"example": "2022-11-29T08:56:36Z"
															}
														},
														"required": [
															"token",
															"name",
															"description",
															"email",
															"phone",
															"api_key",
															"avatar",
															"website",
															"payout_terms",
															"active",
															"suspended",
															"suspend_reason",
															"email_settings",
															"api_settings",
															"organization",
															"verification",
															"verified",
															"created_at",
															"updated_at"
														]
													}
												}
											},
											"required": ["count", "list"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"count": 1,
										"list": [
											{
												"token": "client_bc9b141a-edce-429a-88f0-90230d0b66f1",
												"name": "Safepay Demo",
												"description": "",
												"email": "ausmani@getsafepay.com",
												"phone": "",
												"api_key": "sec_f1c179f6-780a-46dd-8a15-0aa57b704c01",
												"avatar": "",
												"website": "",
												"payout_terms": "",
												"active": 0,
												"suspended": 0,
												"suspend_reason": "",
												"email_settings": null,
												"api_settings": null,
												"organization": null,
												"verification": null,
												"verified": 1,
												"created_at": "2022-11-29T08:56:36Z",
												"updated_at": "2022-11-29T08:56:36Z"
											}
										]
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string",
										"example": "zparekh@getsafepay.com"
									},
									"password": {
										"type": "string",
										"example": "azazazazaz"
									}
								},
								"required": ["email", "password"]
							},
							"example": {
								"email": "zparekh@getsafepay.com",
								"password": "azazazazaz"
							}
						}
					}
				}
			}
		},
		"/auth/v1/company/authenticate": {
			"post": {
				"tags": ["API Authentication"],
				"summary": "Create Merchant JWT",
				"operationId": "apiAuthenticationCreateMerchantJwt",
				"description": "Use the `client` `email` and `password` fields to generate a JWT token. The email and password are that of the user who created the account, referred to as the Admin user",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"session": {
													"type": "string",
													"example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTU4OTk1OTQsImlhdCI6MTY5NTg5NTk5NCwidmVyc2lvbiI6InYxIiwiZW1haWwiOiJ6cGFyZWtoQGdldHNhZmVwYXkuY29tIiwidG9rZW4iOiJjbGllbnRfMDcxZjljMjUtYzI5MS00ZGNmLWEyMWUtNzliNTc2ZGRkMGZkIiwidmVyaWZpZWQiOjEsIm1hc2siOjJ9.kLJAACzeeo-D7U1ZWLeNpbnLuvCX6LN9W5TdA3wVyXo"
												},
												"token": {
													"type": "string",
													"example": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd"
												}
											},
											"required": ["session", "token"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"session": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTU4OTk1OTQsImlhdCI6MTY5NTg5NTk5NCwidmVyc2lvbiI6InYxIiwiZW1haWwiOiJ6cGFyZWtoQGdldHNhZmVwYXkuY29tIiwidG9rZW4iOiJjbGllbnRfMDcxZjljMjUtYzI5MS00ZGNmLWEyMWUtNzliNTc2ZGRkMGZkIiwidmVyaWZpZWQiOjEsIm1hc2siOjJ9.kLJAACzeeo-D7U1ZWLeNpbnLuvCX6LN9W5TdA3wVyXo",
										"token": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd"
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"417": {
						"description": "417",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "Expected min but got  for field: Password"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["Expected min but got  for field: Password"],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "Missing authorization credentials"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["Missing authorization credentials"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"client": {
										"type": "string",
										"example": "client_bb1d600f-f174-49dc-a34f-a79c77e237c8"
									},
									"email": {
										"type": "string",
										"example": "zparekh@getsafepay.com"
									},
									"password": {
										"type": "string",
										"example": "azazazazaz"
									}
								},
								"required": ["client", "email", "password"]
							},
							"example": {
								"client": "client_bb1d600f-f174-49dc-a34f-a79c77e237c8",
								"email": "zparekh@getsafepay.com",
								"password": "azazazazaz"
							}
						}
					}
				}
			}
		},
		"/auth/v2/user/login": {
			"post": {
				"tags": ["API Authentication"],
				"summary": "Create Shopper JWT",
				"operationId": "apiAuthenticationCreateShopperJwtUsingPassword",
				"description": "Use the `type`, `email` and `password` / `otp` fields to generate a JWT token for a Safepay Shopper. The JWT may be used to authenticate payment requests",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"session": {
													"type": "string",
													"example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjI5MzYwMTIsImlhdCI6MTcyMjMzMTIxMiwidmVyc2lvbiI6InYxIiwiZW1haWwiOiJoemFpZGkyQGdldHNhZmVwYXkuY29tIiwidG9rZW4iOiJ1c2VyX2Q3NTExMGU0LWY1MmUtNDY0ZC05NmJkLTQ5MGY3NWU3ZmM3MSIsIm1hc2siOjF9.Tt-YAsysrQZl9abhqyihzO6dkCqVeh6XXRm3SS4px4o"
												},
												"token": {
													"type": "string",
													"example": "user_d75110e4-f52e-464d-96bd-490f75e7fc71"
												},
												"refresh_token": {
													"type": "string",
													"example": "eyJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6Imh6YWlkaTJAZ2V0c2FmZXBheS5jb20iLCJleHAiOjE3MjIzMzQ4MTIsImlhdCI6MTcyMjMzMTIxMiwianRpIjoicmVmXzdlYmNhYmNjLWQxNTktNGIzMi1iNGUyLTAxOGNjZDJjZjNjNiJ9.-GDl7cuolo6iTq416-VJ_qTbNU3_WCUpvPtI70_acWY"
												}
											},
											"required": ["session", "token", "refresh_token"]
										}
									},
									"required": ["data"]
								},
								"examples": {
									"default": {
										"value": {
											"data": {
												"session": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjI5MzYwMTIsImlhdCI6MTcyMjMzMTIxMiwidmVyc2lvbiI6InYxIiwiZW1haWwiOiJoemFpZGkyQGdldHNhZmVwYXkuY29tIiwidG9rZW4iOiJ1c2VyX2Q3NTExMGU0LWY1MmUtNDY0ZC05NmJkLTQ5MGY3NWU3ZmM3MSIsIm1hc2siOjF9.Tt-YAsysrQZl9abhqyihzO6dkCqVeh6XXRm3SS4px4o",
												"token": "user_d75110e4-f52e-464d-96bd-490f75e7fc71",
												"refresh_token": "eyJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6Imh6YWlkaTJAZ2V0c2FmZXBheS5jb20iLCJleHAiOjE3MjIzMzQ4MTIsImlhdCI6MTcyMjMzMTIxMiwianRpIjoicmVmXzdlYmNhYmNjLWQxNTktNGIzMi1iNGUyLTAxOGNjZDJjZjNjNiJ9.-GDl7cuolo6iTq416-VJ_qTbNU3_WCUpvPtI70_acWY"
											}
										}
									},
									"Create Shopper JWT Using OTP": {
										"summary": "Create Shopper JWT Using OTP",
										"value": {
											"data": {
												"session": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MzAyOTM4MzAsImlhdCI6MTcyOTY4OTAzMCwidmVyc2lvbiI6InYxIiwiZW1haWwiOiJhdXNtYW5pQGdldHNhZmVwYXkuY29tIiwidG9rZW4iOiJ1c2VyXzlhYzhjYzA2LTFmYWUtNGYxMi05NjM2LWE4NzdlYjgxNzBhNCIsIm1hc2siOjF9.xwha7ApslT1Mt8fwq7V16pIbz1UVJrcd7oLXBt8rstk",
												"token": "user_9ac8cc06-1fae-4f12-9636-a877eb8170a4",
												"refresh_token": "eyJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6ImF1c21hbmlAZ2V0c2FmZXBheS5jb20iLCJleHAiOjE3Mjk2OTI2MzAsImlhdCI6MTcyOTY4OTAzMCwianRpIjoicmVmX2YzYmFhYjNmLTE5NGQtNGMxMC1iMzIxLWUwNDdiMmEyM2MzMCJ9.D_qHhxRfpE-JnpeqFP4Yw8qqr6qa8IPwfjp6H6-6zIc"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": {
											"type": "string",
											"example": "error.bad_request"
										},
										"message": {
											"type": "string",
											"example": "Invalid authentication type. Please choose a valid authentication method."
										}
									},
									"required": ["code", "message"]
								},
								"example": {
									"code": "error.bad_request",
									"message": "Invalid authentication type. Please choose a valid authentication method."
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": {
											"type": "string",
											"example": "error.unauthorized_access"
										},
										"message": {
											"type": "string",
											"example": "Invalid email or password. Please check your credentials and try again."
										}
									},
									"required": ["code", "message"]
								},
								"examples": {
									"default": {
										"value": {
											"code": "error.unauthorized_access",
											"message": "Invalid email or password. Please check your credentials and try again."
										}
									},
									"Create Shopper JWT Using OTP": {
										"summary": "Create Shopper JWT Using OTP",
										"value": {
											"code": "error.unauthorized_access",
											"message": "Invalid one-time password (OTP). Please enter a valid OTP."
										}
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"type": {
										"type": "string",
										"example": "password"
									},
									"email": {
										"type": "string",
										"example": "hzaidi2@getsafepay.com"
									},
									"password": {
										"type": "string",
										"example": "password"
									}
								},
								"required": ["type", "email", "password"]
							},
							"example": {
								"type": "password",
								"email": "hzaidi2@getsafepay.com",
								"password": "password"
							}
						}
					}
				}
			}
		},
		"/user/v1/guest": {
			"post": {
				"tags": ["API Authentication"],
				"summary": "Create Guest JWT",
				"operationId": "apiAuthenticationCreateGuestJwt",
				"description": "Register a guest user. The result is a JWT token for a guest session. This can be used to authenticate the Payments Order API",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"session": {
													"type": "string",
													"example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTcyNjc0NzcsImlhdCI6MTY5NjY2MjY3NywidmVyc2lvbiI6InYxIiwiZW1haWwiOiJoemFpZGlAZ2V0c2FmZXBheS5jb20iLCJ0b2tlbiI6Imd1ZXN0XzRjYTU1ZTU2LTQ1ZTYtNDZkZi04ZDY0LTY4Y2E4Njg2N2JlNSIsIm1hc2siOjR9.ADESUILYB1Nii8wysYe1MW5xF3LisW1uSuaklO8BQCo"
												},
												"token": {
													"type": "string",
													"example": "guest_4ca55e56-45e6-46df-8d64-68ca86867be5"
												}
											},
											"required": ["session", "token"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"session": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTcyNjc0NzcsImlhdCI6MTY5NjY2MjY3NywidmVyc2lvbiI6InYxIiwiZW1haWwiOiJoemFpZGlAZ2V0c2FmZXBheS5jb20iLCJ0b2tlbiI6Imd1ZXN0XzRjYTU1ZTU2LTQ1ZTYtNDZkZi04ZDY0LTY4Y2E4Njg2N2JlNSIsIm1hc2siOjR9.ADESUILYB1Nii8wysYe1MW5xF3LisW1uSuaklO8BQCo",
										"token": "guest_4ca55e56-45e6-46df-8d64-68ca86867be5"
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"417": {
						"description": "417",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "Expected email but got  for field: Email"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["Expected email but got  for field: Email"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"first_name": {
										"type": "string",
										"example": "Hassan"
									},
									"last_name": {
										"type": "string",
										"example": "Zaidi"
									},
									"email": {
										"type": "string",
										"example": "hzaidi@getsafepay.com"
									},
									"country": {
										"type": "string",
										"example": "PK"
									},
									"phone": {
										"type": "string",
										"example": "+923001234567"
									}
								},
								"required": ["first_name", "last_name", "email", "country", "phone"]
							},
							"example": {
								"first_name": "Hassan",
								"last_name": "Zaidi",
								"email": "hzaidi@getsafepay.com",
								"country": "PK",
								"phone": "+923001234567"
							}
						}
					}
				}
			}
		},
		"/client/api-settings/v1": {
			"post": {
				"tags": ["API Authentication"],
				"summary": "Create API Key",
				"operationId": "apiAuthenticationCreateApiKey",
				"description": "All accounts are automatically provisioned with an API key when they are created. However, if for some reason, your account does not have an API key, you can use this endpoint to create one. Alternatively, you can also create an API key from your dashboard",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69"
												},
												"client_id": {
													"type": "string",
													"example": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd"
												},
												"webhook_secret": {
													"type": "string",
													"example": "c44e1b93160e1ccd34ea9c40e79f5f11ea276105b563c53d9ca59e4eb8477686"
												},
												"created_at": {
													"type": "string",
													"example": "0001-01-01T00:00:00Z"
												},
												"updated_at": {
													"type": "string",
													"example": "0001-01-01T00:00:00Z"
												}
											},
											"required": ["token", "client_id", "webhook_secret", "created_at", "updated_at"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69",
										"client_id": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd",
										"webhook_secret": "c44e1b93160e1ccd34ea9c40e79f5f11ea276105b563c53d9ca59e4eb8477686",
										"created_at": "0001-01-01T00:00:00Z",
										"updated_at": "0001-01-01T00:00:00Z"
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "settings already exist"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["settings already exist"],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "token up for parsing was not passed through the context"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["token up for parsing was not passed through the context"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"BearerAuth": []
					}
				]
			},
			"/client/passport/v1/token": {
				"post": {
					"tags": ["API Authentication"],
					"summary": "Generate Time-Based Token",
					"operationId": "apiAuthenticationGenerateTimeBasedToken",
					"description": "Use your merchant Secret key to generate a time-based token. The token can be extracted from `data` and has an expiration of 2 minutes. Use this token to authenticate against all requests that support time-based token authentication. To authenticate, you must set the Authorization header to `Bearer` followed by the time-based token.",
					"responses": {
						"200": {
							"description": "200",
							"content": {
								"application/json": {
									"schema": {
										"type": "object",
										"properties": {
											"data": {
												"type": "string",
												"example": "xnTyRgITVcHlyeKT2cf59_e836PouieQ6xPpuQiwFXD8M6HoJ283EP_zta2SKkm6B_IFNGEBmg=="
											}
										},
										"required": ["data"]
									},
									"example": {
										"data": "xnTyRgITVcHlyeKT2cf59_e836PouieQ6xPpuQiwFXD8M6HoJ283EP_zta2SKkm6B_IFNGEBmg=="
									}
								}
							}
						},
						"401": {
							"description": "401",
							"content": {
								"application/json": {
									"schema": {
										"type": "object",
										"properties": {
											"data": {
												"type": "string",
												"nullable": true
											},
											"status": {
												"type": "object",
												"properties": {
													"errors": {
														"type": "array",
														"items": {
															"type": "string",
															"example": "unauthorized"
														}
													},
													"message": {
														"type": "string",
														"example": "fail"
													}
												},
												"required": ["errors", "message"]
											}
										},
										"required": ["data", "status"]
									},
									"example": {
										"data": null,
										"status": {
											"errors": [
												"unauthorized",
												"strategies/union: [strategies/jwt: missing jwt token, strategies/secret: could not fetch client, error: Resource with this identifier not found]"
											],
											"message": "fail"
										}
									}
								}
							}
						}
					},
					"security": [
						{
							"ApiKeyAuth": []
						}
					]
				}
			},
			"get": {
				"tags": ["API Keys"],
				"summary": "Find Api Key",
				"operationId": "apiKeysFindApiKey",
				"description": "Retrieves details for an API key that is linked to the Safepay account. This endpoint only supports JWT based authentication",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69"
												},
												"client_id": {
													"type": "string",
													"example": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd"
												},
												"webhook_secret": {
													"type": "string",
													"example": "c44e1b93160e1ccd34ea9c40e79f5f11ea276105b563c53d9ca59e4eb8477686"
												},
												"created_at": {
													"type": "string",
													"example": "2023-09-28T10:37:38Z"
												},
												"updated_at": {
													"type": "string",
													"example": "2023-09-28T10:37:38Z"
												}
											},
											"required": ["token", "client_id", "webhook_secret", "created_at", "updated_at"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69",
										"client_id": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd",
										"webhook_secret": "c44e1b93160e1ccd34ea9c40e79f5f11ea276105b563c53d9ca59e4eb8477686",
										"created_at": "2023-09-28T10:37:38Z",
										"updated_at": "2023-09-28T10:37:38Z"
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "token up for parsing was not passed through the context"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["token up for parsing was not passed through the context"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"BearerAuth": []
					}
				]
			},
			"put": {
				"tags": ["API Keys"],
				"summary": "Update Api Key",
				"operationId": "apiKeysUpdateApiKey",
				"description": "The update endpoint generates a new API Key. If you run this endpoint, any previous implementations where the old API Key is being used will no longer work. This endpoint only supports JWT based authentication",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69"
												},
												"client_id": {
													"type": "string",
													"example": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd"
												},
												"webhook_secret": {
													"type": "string",
													"example": "74b1848b1c876158414d47937f392b7f67cf060ec2a1f44aae4d8a02072d1b69"
												},
												"created_at": {
													"type": "string",
													"example": "2023-09-28T10:37:38Z"
												},
												"updated_at": {
													"type": "string",
													"example": "2023-09-28T10:37:38Z"
												}
											},
											"required": ["token", "client_id", "webhook_secret", "created_at", "updated_at"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "api_b3db2bd8-5fa3-4ec4-ab47-0733dacfed69",
										"client_id": "client_071f9c25-c291-4dcf-a21e-79b576ddd0fd",
										"webhook_secret": "74b1848b1c876158414d47937f392b7f67cf060ec2a1f44aae4d8a02072d1b69",
										"created_at": "2023-09-28T10:37:38Z",
										"updated_at": "2023-09-28T10:37:38Z"
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "token up for parsing was not passed through the context"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["token up for parsing was not passed through the context"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"BearerAuth": []
					}
				]
			}
		},
		"/user/customers/v1": {
			"post": {
				"tags": ["Merchant Shoppers - CRUD"],
				"summary": "Create Customer",
				"operationId": "merchantShoppersCrudCreateCustomer",
				"description": "Create a new `Customer`. Once created, customers may be attached to trackers for performing payments",
				"responses": {
					"201": {
						"description": "201",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "cus_e927d58d-3796-4f36-a209-384906d712ea"
												},
												"merchant_api_key": {
													"type": "string",
													"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
												},
												"email": {
													"type": "string",
													"example": "hzaidi@getsafepay.com"
												},
												"first_name": {
													"type": "string",
													"example": "Hassan"
												},
												"last_name": {
													"type": "string",
													"example": "Zaidi"
												},
												"phone_number": {
													"type": "string",
													"example": "+923331234567"
												},
												"country": {
													"type": "string",
													"example": "PK"
												},
												"is_guest": {
													"type": "boolean",
													"example": true
												},
												"is_deleted": {
													"type": "boolean",
													"example": false
												},
												"created_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697986036
														},
														"nanos": {
															"type": "integer",
															"example": 25310172
														}
													},
													"required": ["seconds", "nanos"]
												},
												"updated_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697986036
														},
														"nanos": {
															"type": "integer",
															"example": 25310589
														}
													},
													"required": ["seconds", "nanos"]
												}
											},
											"required": [
												"token",
												"merchant_api_key",
												"email",
												"first_name",
												"last_name",
												"phone_number",
												"country",
												"is_guest",
												"is_deleted",
												"created_at",
												"updated_at"
											]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"examples": {
									"201": {
										"summary": "201",
										"value": {
											"data": {
												"token": "cus_e927d58d-3796-4f36-a209-384906d712ea",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "hzaidi@getsafepay.com",
												"first_name": "Hassan",
												"last_name": "Zaidi",
												"phone_number": "+923331234567",
												"country": "PK",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697986036,
													"nanos": 25310172
												},
												"updated_at": {
													"seconds": 1697986036,
													"nanos": 25310589
												}
											},
											"status": {
												"errors": [],
												"message": "success"
											}
										}
									},
									"201_-_Synthetic": {
										"summary": "201 - Synthetic",
										"value": {
											"data": {
												"token": "cus_ac370da3-ca11-4d7c-9699-e2a1503f3113",
												"merchant_api_key": "sec_a7cc6fc1-088d-4f35-9dac-2bab2cb234a1",
												"email": "null@getsafepay.com",
												"first_name": " Talib",
												"last_name": "Agha",
												"phone_number": "+923361270164",
												"country": "PK",
												"is_guest": false,
												"is_deleted": false,
												"created_at": {
													"seconds": 1742460212,
													"nanos": 136429183
												},
												"updated_at": {
													"seconds": 1742460212,
													"nanos": 136429793
												}
											},
											"status": {
												"errors": [],
												"message": "success"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "country: country code unrecognized or not supported."
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["country: country code unrecognized or not supported."],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"first_name": {
										"type": "string",
										"example": "Hassan"
									},
									"last_name": {
										"type": "string",
										"example": "Zaidi"
									},
									"email": {
										"type": "string",
										"example": "hzaidi@getsafepay.com"
									},
									"phone_number": {
										"type": "string",
										"example": "+923331234567"
									},
									"country": {
										"type": "string",
										"example": "PK"
									}
								},
								"required": ["first_name", "last_name", "email", "phone_number", "country"]
							},
							"example": {
								"first_name": "Hassan",
								"last_name": "Zaidi",
								"email": "hzaidi@getsafepay.com",
								"phone_number": "+923331234567",
								"country": "PK"
							}
						}
					}
				},
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			},
			"get": {
				"tags": ["Merchant Shoppers - CRUD"],
				"summary": "List Customers",
				"operationId": "merchantShoppersCrudListCustomers",
				"description": "Fetch all customers. The following query modifiers are supported",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"customers": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"token": {
																"type": "string",
																"example": "cus_c79ef0ed-a787-4dee-98db-f0911044614c"
															},
															"merchant_api_key": {
																"type": "string",
																"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
															},
															"email": {
																"type": "string",
																"example": "hzaidi@getsafepay.com"
															},
															"first_name": {
																"type": "string",
																"example": "Hassan"
															},
															"last_name": {
																"type": "string",
																"example": "Zaidi"
															},
															"phone_number": {
																"type": "string",
																"example": "+913331234567"
															},
															"country": {
																"type": "string",
																"example": "PK"
															},
															"is_guest": {
																"type": "boolean",
																"example": true
															},
															"is_deleted": {
																"type": "boolean",
																"example": false
															},
															"created_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697994236
																	}
																},
																"required": ["seconds"]
															},
															"updated_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697994236
																	}
																},
																"required": ["seconds"]
															}
														},
														"required": [
															"token",
															"merchant_api_key",
															"email",
															"first_name",
															"last_name",
															"phone_number",
															"country",
															"is_guest",
															"is_deleted",
															"created_at",
															"updated_at"
														]
													}
												},
												"count": {
													"type": "integer",
													"example": 5
												}
											},
											"required": ["customers", "count"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"customers": [
											{
												"token": "cus_c79ef0ed-a787-4dee-98db-f0911044614c",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "hzaidi@getsafepay.com",
												"first_name": "Hassan",
												"last_name": "Zaidi",
												"phone_number": "+913331234567",
												"country": "PK",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697994236
												},
												"updated_at": {
													"seconds": 1697994236
												}
											},
											{
												"token": "cus_c3664cbc-3988-49b8-a3c7-6ad958793cf5",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "hzaidi@getsafepay.com",
												"first_name": "Hassan",
												"last_name": "Zaidi",
												"phone_number": "+923331234567",
												"country": "PK",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697994232
												},
												"updated_at": {
													"seconds": 1697994232
												}
											},
											{
												"token": "cus_bc04ca6f-2bd5-45df-8ace-8c81f8172bf4",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "hzaidi@getsafepay.com",
												"first_name": "Hassan",
												"last_name": "Zaidi",
												"phone_number": "+923331234567",
												"country": "P",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697986055
												},
												"updated_at": {
													"seconds": 1697986055
												}
											},
											{
												"token": "cus_e927d58d-3796-4f36-a209-384906d712ea",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "hzaidi@getsafepay.com",
												"first_name": "Hassan",
												"last_name": "Zaidi",
												"phone_number": "+923331234567",
												"country": "PK",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697986036
												},
												"updated_at": {
													"seconds": 1697986036
												}
											},
											{
												"token": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"email": "syed@getsafepay.com",
												"first_name": "Syed",
												"last_name": "Arsalan",
												"phone_number": "+923331234567",
												"country": "PK",
												"is_guest": true,
												"is_deleted": false,
												"created_at": {
													"seconds": 1697550728
												},
												"updated_at": {
													"seconds": 1697550728
												}
											}
										],
										"count": 5
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "page: must be no less than 1."
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["page: must be no less than 1."],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer"
						},
						"example": 20
					},
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer"
						},
						"example": 1
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			}
		},
		"/user/customers/v1/{customerId}": {
			"put": {
				"tags": ["Merchant Shoppers - CRUD"],
				"summary": "Update Customer",
				"operationId": "merchantShoppersCrudUpdateCustomer",
				"description": "Update details on the customer",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa"
												},
												"merchant_api_key": {
													"type": "string",
													"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
												},
												"email": {
													"type": "string",
													"example": "syed@getsafepay.com"
												},
												"first_name": {
													"type": "string",
													"example": "Syed"
												},
												"last_name": {
													"type": "string",
													"example": "Arsalan"
												},
												"phone_number": {
													"type": "string",
													"example": "+923331234567"
												},
												"country": {
													"type": "string",
													"example": "PK"
												},
												"wallet": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"token": {
																"type": "string",
																"example": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89"
															},
															"customer": {
																"type": "string",
																"example": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa"
															},
															"merchant_api_key": {
																"type": "string",
																"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
															},
															"kind": {
																"type": "integer",
																"example": 1
															},
															"max_usage": {
																"type": "integer",
																"example": 1
															},
															"usage_interval": {
																"type": "integer",
																"example": 0
															},
															"is_deleted": {
																"type": "boolean",
																"example": false
															},
															"cybersource": {
																"type": "object",
																"properties": {
																	"token": {
																		"type": "string",
																		"example": "tms_b8543301-95ad-4eae-a86f-8d90a5ece0c7"
																	},
																	"customer_payment_method": {
																		"type": "string",
																		"example": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89"
																	},
																	"scheme": {
																		"type": "integer",
																		"example": 2
																	},
																	"bin": {
																		"type": "string",
																		"example": "520000"
																	},
																	"last_four": {
																		"type": "string",
																		"example": "1096"
																	},
																	"expiry_month": {
																		"type": "string",
																		"example": "12"
																	},
																	"expiry_year": {
																		"type": "string",
																		"example": "2023"
																	},
																	"created_at": {
																		"type": "object",
																		"properties": {
																			"seconds": {
																				"type": "integer",
																				"example": 1697697321
																			}
																		},
																		"required": ["seconds"]
																	},
																	"updated_at": {
																		"type": "object",
																		"properties": {
																			"seconds": {
																				"type": "integer",
																				"example": 1697697321
																			}
																		},
																		"required": ["seconds"]
																	}
																},
																"required": [
																	"token",
																	"customer_payment_method",
																	"scheme",
																	"bin",
																	"last_four",
																	"expiry_month",
																	"expiry_year",
																	"created_at",
																	"updated_at"
																]
															},
															"usage_count": {
																"type": "integer",
																"example": 0
															},
															"expires_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697783722
																	}
																},
																"required": ["seconds"]
															},
															"created_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697697321
																	}
																},
																"required": ["seconds"]
															},
															"updated_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697697321
																	}
																},
																"required": ["seconds"]
															}
														},
														"required": [
															"token",
															"customer",
															"merchant_api_key",
															"kind",
															"max_usage",
															"usage_interval",
															"is_deleted",
															"cybersource",
															"usage_count",
															"expires_at",
															"created_at",
															"updated_at"
														]
													}
												},
												"is_guest": {
													"type": "boolean",
													"example": true
												},
												"is_deleted": {
													"type": "boolean",
													"example": false
												},
												"created_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697550728
														}
													},
													"required": ["seconds"]
												},
												"updated_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697550728
														}
													},
													"required": ["seconds"]
												}
											},
											"required": [
												"token",
												"merchant_api_key",
												"email",
												"first_name",
												"last_name",
												"phone_number",
												"country",
												"wallet",
												"is_guest",
												"is_deleted",
												"created_at",
												"updated_at"
											]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa",
										"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
										"email": "syed@getsafepay.com",
										"first_name": "Syed",
										"last_name": "Arsalan",
										"phone_number": "+923331234567",
										"country": "PK",
										"wallet": [
											{
												"token": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89",
												"customer": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"kind": 1,
												"max_usage": 1,
												"usage_interval": 0,
												"is_deleted": false,
												"cybersource": {
													"token": "tms_b8543301-95ad-4eae-a86f-8d90a5ece0c7",
													"customer_payment_method": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89",
													"scheme": 2,
													"bin": "520000",
													"last_four": "1096",
													"expiry_month": "12",
													"expiry_year": "2023",
													"created_at": {
														"seconds": 1697697321
													},
													"updated_at": {
														"seconds": 1697697321
													}
												},
												"usage_count": 0,
												"expires_at": {
													"seconds": 1697783722
												},
												"created_at": {
													"seconds": 1697697321
												},
												"updated_at": {
													"seconds": 1697697321
												}
											}
										],
										"is_guest": true,
										"is_deleted": false,
										"created_at": {
											"seconds": 1697550728
										},
										"updated_at": {
											"seconds": 1697550728
										}
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "phone_number: invalid country code."
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["phone_number: invalid country code."],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "customer not found"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["customer not found"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique identifier for customerId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"first_name": {
										"type": "string",
										"example": "Syed"
									},
									"last_name": {
										"type": "string",
										"example": "Arsalan"
									},
									"email": {
										"type": "string",
										"example": "syed@getsafepay.com"
									}
								},
								"required": ["first_name", "last_name", "email"]
							},
							"example": {
								"first_name": "Syed",
								"last_name": "Arsalan",
								"email": "syed@getsafepay.com"
							}
						}
					}
				},
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			},
			"get": {
				"tags": ["Merchant Shoppers - CRUD"],
				"summary": "Find Customer",
				"operationId": "merchantShoppersCrudFindCustomer",
				"description": "Fetch details for the customer. If the user has any payment methods saved to their wallet, they will be included in the response.",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa"
												},
												"merchant_api_key": {
													"type": "string",
													"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
												},
												"email": {
													"type": "string",
													"example": "syed@getsafepay.com"
												},
												"first_name": {
													"type": "string",
													"example": "Syed"
												},
												"last_name": {
													"type": "string",
													"example": "Arsalan"
												},
												"phone_number": {
													"type": "string",
													"example": "+923331234567"
												},
												"country": {
													"type": "string",
													"example": "PK"
												},
												"wallet": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"token": {
																"type": "string",
																"example": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89"
															},
															"customer": {
																"type": "string",
																"example": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa"
															},
															"merchant_api_key": {
																"type": "string",
																"example": "sec_edeade52-46aa-483b-b87d-009d3ce41554"
															},
															"kind": {
																"type": "integer",
																"example": 1
															},
															"max_usage": {
																"type": "integer",
																"example": 1
															},
															"usage_interval": {
																"type": "integer",
																"example": 0
															},
															"is_deleted": {
																"type": "boolean",
																"example": false
															},
															"cybersource": {
																"type": "object",
																"properties": {
																	"token": {
																		"type": "string",
																		"example": "tms_b8543301-95ad-4eae-a86f-8d90a5ece0c7"
																	},
																	"customer_payment_method": {
																		"type": "string",
																		"example": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89"
																	},
																	"scheme": {
																		"type": "integer",
																		"example": 2
																	},
																	"bin": {
																		"type": "string",
																		"example": "520000"
																	},
																	"last_four": {
																		"type": "string",
																		"example": "1096"
																	},
																	"expiry_month": {
																		"type": "string",
																		"example": "12"
																	},
																	"expiry_year": {
																		"type": "string",
																		"example": "2023"
																	},
																	"created_at": {
																		"type": "object",
																		"properties": {
																			"seconds": {
																				"type": "integer",
																				"example": 1697697321
																			}
																		},
																		"required": ["seconds"]
																	},
																	"updated_at": {
																		"type": "object",
																		"properties": {
																			"seconds": {
																				"type": "integer",
																				"example": 1697697321
																			}
																		},
																		"required": ["seconds"]
																	}
																},
																"required": [
																	"token",
																	"customer_payment_method",
																	"scheme",
																	"bin",
																	"last_four",
																	"expiry_month",
																	"expiry_year",
																	"created_at",
																	"updated_at"
																]
															},
															"usage_count": {
																"type": "integer",
																"example": 0
															},
															"expires_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697783722
																	}
																},
																"required": ["seconds"]
															},
															"created_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697697321
																	}
																},
																"required": ["seconds"]
															},
															"updated_at": {
																"type": "object",
																"properties": {
																	"seconds": {
																		"type": "integer",
																		"example": 1697697321
																	}
																},
																"required": ["seconds"]
															}
														},
														"required": [
															"token",
															"customer",
															"merchant_api_key",
															"kind",
															"max_usage",
															"usage_interval",
															"is_deleted",
															"cybersource",
															"usage_count",
															"expires_at",
															"created_at",
															"updated_at"
														]
													}
												},
												"is_guest": {
													"type": "boolean",
													"example": true
												},
												"is_deleted": {
													"type": "boolean",
													"example": false
												},
												"created_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697550728
														}
													},
													"required": ["seconds"]
												},
												"updated_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1697550728
														}
													},
													"required": ["seconds"]
												}
											},
											"required": [
												"token",
												"merchant_api_key",
												"email",
												"first_name",
												"last_name",
												"phone_number",
												"country",
												"wallet",
												"is_guest",
												"is_deleted",
												"created_at",
												"updated_at"
											]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa",
										"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
										"email": "syed@getsafepay.com",
										"first_name": "Syed",
										"last_name": "Arsalan",
										"phone_number": "+923331234567",
										"country": "PK",
										"wallet": [
											{
												"token": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89",
												"customer": "cus_2fc20245-e0f8-447f-af75-fa651cfd54aa",
												"merchant_api_key": "sec_edeade52-46aa-483b-b87d-009d3ce41554",
												"kind": 1,
												"max_usage": 1,
												"usage_interval": 0,
												"is_deleted": false,
												"cybersource": {
													"token": "tms_b8543301-95ad-4eae-a86f-8d90a5ece0c7",
													"customer_payment_method": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89",
													"scheme": 2,
													"bin": "520000",
													"last_four": "1096",
													"expiry_month": "12",
													"expiry_year": "2023",
													"created_at": {
														"seconds": 1697697321
													},
													"updated_at": {
														"seconds": 1697697321
													}
												},
												"usage_count": 0,
												"expires_at": {
													"seconds": 1697783722
												},
												"created_at": {
													"seconds": 1697697321
												},
												"updated_at": {
													"seconds": 1697697321
												}
											}
										],
										"is_guest": true,
										"is_deleted": false,
										"created_at": {
											"seconds": 1697550728
										},
										"updated_at": {
											"seconds": 1697550728
										}
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "incorrect merchant customer token cust_2fc20245-e0f8-447f-af75-fa651cfd54aa"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["incorrect merchant customer token cust_2fc20245-e0f8-447f-af75-fa651cfd54aa"],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "customer not found"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["customer not found"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique identifier for customerId"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			},
			"delete": {
				"tags": ["Merchant Shoppers - CRUD"],
				"summary": "Delete Customer",
				"operationId": "merchantShoppersCrudDeleteCustomer",
				"description": "Mark the customer as deleted. The response returns the `token` that identifies that customer and a `deleted` property that denotes whether the deletion was successful.",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "cus_84dd32b1-2657-401e-902d-8cc11dd34b95"
												},
												"deleted": {
													"type": "boolean",
													"example": true
												}
											},
											"required": ["token", "deleted"]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "cus_84dd32b1-2657-401e-902d-8cc11dd34b95",
										"deleted": true
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "incorrect merchant customer token cu_84dd32b1-2657-401e-902d-8cc11dd34b95"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["incorrect merchant customer token cu_84dd32b1-2657-401e-902d-8cc11dd34b95"],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "customer not found"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["customer not found"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique identifier for customerId"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			}
		},
		"/user/customers/v1/{customerId}/wallet/{paymentMethodId}": {
			"get": {
				"tags": ["Merchant Shoppers - Customer Payment Methods"],
				"summary": "Find Payment Method",
				"operationId": "merchantShoppersCustomerPaymentMethodsFindPaymentMethod",
				"description": "Fetch details for the payment method.",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "pm_3b4a7c47-99cc-4fda-9b4c-b46b11e2cd18"
												},
												"customer": {
													"type": "string",
													"example": "cus_a03d1304-d088-4a60-801f-b6a3d44b445d"
												},
												"merchant_api_key": {
													"type": "string",
													"example": "sec_efbce898-4cc4-4c00-ba45-f00001804a60"
												},
												"kind": {
													"type": "integer",
													"example": 1
												},
												"max_usage": {
													"type": "integer",
													"example": 1
												},
												"usage_interval": {
													"type": "integer",
													"example": 0
												},
												"is_deleted": {
													"type": "boolean",
													"example": false
												},
												"billing_address": {
													"type": "object",
													"properties": {
														"token": {
															"type": "string",
															"example": "address_25f9c917-9d73-4e45-964a-916df314d388"
														},
														"owner": {
															"type": "string",
															"example": "cus_a03d1304-d088-4a60-801f-b6a3d44b445d"
														},
														"street1": {
															"type": "string",
															"example": "house"
														},
														"city": {
															"type": "string",
															"example": "Houstan"
														},
														"state": {
															"type": "string",
															"example": "TX"
														},
														"postal_code": {
															"type": "string",
															"example": "77027"
														},
														"country": {
															"type": "string",
															"example": "US"
														},
														"is_default": {
															"type": "boolean",
															"example": false
														},
														"created_at": {
															"type": "object",
															"properties": {
																"seconds": {
																	"type": "integer",
																	"example": 1700724454
																}
															},
															"required": ["seconds"]
														},
														"updated_at": {
															"type": "object",
															"properties": {
																"seconds": {
																	"type": "integer",
																	"example": 1700724454
																}
															},
															"required": ["seconds"]
														}
													},
													"required": [
														"token",
														"owner",
														"street1",
														"city",
														"state",
														"postal_code",
														"country",
														"is_default",
														"created_at",
														"updated_at"
													]
												},
												"cybersource": {
													"type": "object",
													"properties": {
														"token": {
															"type": "string",
															"example": "tms_eb5660d2-e0d6-4898-8fb0-51f53ff49022"
														},
														"customer_payment_method": {
															"type": "string",
															"example": "pm_3b4a7c47-99cc-4fda-9b4c-b46b11e2cd18"
														},
														"fingerprint": {
															"type": "string",
															"example": "7d7c3ca2d742e36733aca5a7a595ed822eaaf2b7295cc9599819e3928ce85fc9"
														},
														"scheme": {
															"type": "integer",
															"example": 2
														},
														"bin": {
															"type": "string",
															"example": "520000"
														},
														"last_four": {
															"type": "string",
															"example": "1096"
														},
														"expiry_month": {
															"type": "string",
															"example": "12"
														},
														"expiry_year": {
															"type": "string",
															"example": "2028"
														},
														"created_at": {
															"type": "object",
															"properties": {
																"seconds": {
																	"type": "integer",
																	"example": 1700724455
																}
															},
															"required": ["seconds"]
														},
														"updated_at": {
															"type": "object",
															"properties": {
																"seconds": {
																	"type": "integer",
																	"example": 1700724455
																}
															},
															"required": ["seconds"]
														}
													},
													"required": [
														"token",
														"customer_payment_method",
														"fingerprint",
														"scheme",
														"bin",
														"last_four",
														"expiry_month",
														"expiry_year",
														"created_at",
														"updated_at"
													]
												},
												"usage_count": {
													"type": "integer",
													"example": 0
												},
												"expires_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1700810855
														}
													},
													"required": ["seconds"]
												},
												"created_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1700724455
														}
													},
													"required": ["seconds"]
												},
												"updated_at": {
													"type": "object",
													"properties": {
														"seconds": {
															"type": "integer",
															"example": 1700724455
														}
													},
													"required": ["seconds"]
												}
											},
											"required": [
												"token",
												"customer",
												"merchant_api_key",
												"kind",
												"max_usage",
												"usage_interval",
												"is_deleted",
												"billing_address",
												"cybersource",
												"usage_count",
												"expires_at",
												"created_at",
												"updated_at"
											]
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"message": {
													"type": "string",
													"example": "success"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": {
										"token": "pm_3b4a7c47-99cc-4fda-9b4c-b46b11e2cd18",
										"customer": "cus_a03d1304-d088-4a60-801f-b6a3d44b445d",
										"merchant_api_key": "sec_efbce898-4cc4-4c00-ba45-f00001804a60",
										"kind": 1,
										"max_usage": 1,
										"usage_interval": 0,
										"is_deleted": false,
										"billing_address": {
											"token": "address_25f9c917-9d73-4e45-964a-916df314d388",
											"owner": "cus_a03d1304-d088-4a60-801f-b6a3d44b445d",
											"street1": "house",
											"city": "Houstan",
											"state": "TX",
											"postal_code": "77027",
											"country": "US",
											"is_default": false,
											"created_at": {
												"seconds": 1700724454
											},
											"updated_at": {
												"seconds": 1700724454
											}
										},
										"cybersource": {
											"token": "tms_eb5660d2-e0d6-4898-8fb0-51f53ff49022",
											"customer_payment_method": "pm_3b4a7c47-99cc-4fda-9b4c-b46b11e2cd18",
											"fingerprint": "7d7c3ca2d742e36733aca5a7a595ed822eaaf2b7295cc9599819e3928ce85fc9",
											"scheme": 2,
											"bin": "520000",
											"last_four": "1096",
											"expiry_month": "12",
											"expiry_year": "2028",
											"created_at": {
												"seconds": 1700724455
											},
											"updated_at": {
												"seconds": 1700724455
											}
										},
										"usage_count": 0,
										"expires_at": {
											"seconds": 1700810855
										},
										"created_at": {
											"seconds": 1700724455
										},
										"updated_at": {
											"seconds": 1700724455
										}
									},
									"status": {
										"errors": [],
										"message": "success"
									}
								}
							}
						}
					},
					"400": {
						"description": "400",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "incorrect customer payment method token pfd_bea00774-22ba-44ce-82c5-3cdd1a342e89"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["incorrect customer payment method token pfd_bea00774-22ba-44ce-82c5-3cdd1a342e89"],
										"message": "fail"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "unauthorized"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": [
											"unauthorized",
											"strategies/union: [strategies/secret: could not fetch client, error: Resource with this identifier not found, strategies/tbt: missing time based token]"
										],
										"message": "fail"
									}
								}
							}
						}
					},
					"403": {
						"description": "403",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "the requested payment method does not belong to this customer's wallet"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["the requested payment method does not belong to this customer's wallet"],
										"message": "fail"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "string",
											"nullable": true
										},
										"status": {
											"type": "object",
											"properties": {
												"errors": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "customer not found"
													}
												},
												"message": {
													"type": "string",
													"example": "fail"
												}
											},
											"required": ["errors", "message"]
										}
									},
									"required": ["data", "status"]
								},
								"example": {
									"data": null,
									"status": {
										"errors": ["customer not found"],
										"message": "fail"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique identifier for customerId"
					},
					{
						"name": "paymentMethodId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique identifier for paymentMethodId"
					}
				],
				"security": [
					{
						"ApiKeyAuth": []
					}
				]
			},
			"delete": {
				"tags": ["Merchant Shoppers - Customer Payment Methods"],
				"summary": "Delete Payment Method",
				"operationId": "merchantShoppersCustomerPaymentMethodsDeletePaymentMethod",
				"description": "Mark the payment method as deleted. The response returns the `token` that identifies that payment method and a `deleted` property that denotes whether the deletion was successful.",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"token": {
													"type": "string",
													"example": "pm_bea00774-22ba-44ce-82c5-3cdd1a342e89"
												},
												"deleted": {
													"type": "boolean",
[...]
